
/*variáveis*/

:root{
    /*--cor_principal: #E50914;
    --fundo-principal: #141414;*/
    --cor_principal: blue;
    --fundo-principal: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body{
    background: var(--fundo-principal);
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

hr{
    border-color:red;
}
/* Container menu*/

header .container-menu{
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: space-between;
    font-size:15px;
    margin-top:10px;
    font-family: Arial Black;
}

header .container-menu .logo{
    font-size:50px;
}

/* Menu Esquerda */

header .container-menu .menu-left{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 1px;
    color:blue;  
}

header .container-menu .menu-left .opcoes{
    margin-left:20px;
    color: white;
}

header .container-menu .logo{
    margin-left:20px;
    display: inline-block;
}

header .menu-left img{
    width: 10%;
    margin-right: 30px;
    cursor: pointer;
}

header nav a{
    text-decoration:none;
    color:rgb(207, 202, 202);
    margin-right: 20px;    
}

header nav a:hover{
    color: var(--branco) ;
}


/* Menu Direita */

header .container-menu .menu-right{
    display: flex;
    justify-content: right;
    align-items: center; 
}

header .menu-right .search{
    margin-right: 10px;
    cursor: pointer;
}

header .menu-right a{
    margin-right: 20px;
    text-decoration: none;
    color: var(--cinza);    
}

header .menu-right a:hover{
    
    color: var(--branco);
}

header .menu-right .gift{
    margin-right: 20px;
    cursor: pointer;  
}

header .menu-right .bell{
    margin-right: 20px;
    cursor: pointer;     
}

header .menu-right .foto{    
    cursor: pointer;
    width: 20%;
    margin-bottom:5px;
}

header .menu-right .drop-down{
    margin: 0 80px 0 10px;
    cursor: pointer; 
}

.animacao{
    width:20%;
}

/*filme-principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50))100%, url('https://github.com/PabloChristian/Dogflix/blob/main/img/principal.jpg?raw=true');
    height:570px;
    background-size: cover;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start; /*sempre começar da esquerda*/
    
}

.filme-principal .descricao{
    margin-bottom: 10px;
    margin-top:0px;
}

.titulo {
    font-size: 30px;
    font-family: 'Trebuchet MS', Arial, sans-serif'
}

.titulo-filmes{
    font-size: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif'
}

.botao{
    background-color: rgba(0,0,0,0.50);
    border:none;
    color:white;
    padding: 12px 20px;
    margin-right: 10px;
    size:20px;
    font-size:15px;
    cursor: pointer;
    transition: .5s ease all;
}

.botao:hover{
    background-color: white;
    color:black;
}

.botao i{
    margin-right:8px;
}

.container{
    margin-left:20px;
}

.filme-principal .container{
    width:50%; /* faz com que o texto não fique até o fim da página*/
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top:5px;
    margin-bottom: 30px;
}

.carrosel-filmes .item{
    width:90%;
}

.carrosel-filmes:hover{
    cursor:pointer;
}


/* Rodapé */

footer  .social-box{
    display: flex;
    align-items: center;
    width: 250px;
    margin: 20px auto;
}

footer  .social-icon{
    margin-right: 8px;
}

footer  .icon-wraper{
    background-color: rgba(250,250,250, 0.3);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

footer .social-icon i{
    font-size: 30px;
    position: absolute;
    left: 9.5px;
}

footer  .i-wraper{
    position: relative;
    top: -20px;
}

footer  i.fa-instagram{
    color: #fff;
    top: 5px;
}


footer  i.fa-envelope{
    color: #fff;
    position: relative;
    left: 8px;
    top: 22px;
}

footer  i.fa-whatsapp{
    color: #fff;
    top: 4px;
}

footer i.fa-linkedin-in{
    color: #fff;
    top: 5px;
    left: 10px;
}


footer  i.fa-github{
    color:  #fff;
    font-size: 35px;
    position: relative;
    left: 6px;
    top: 21px;
}
